$primaryRed: #EF3244;
$secondaryBlue: #54BEB3;
$white: #ffffff;
$darkerPrimaryRed: #8e2936;
$primaryBlue: #01208A;
$textBlue: #010A26;
$highlightBlue: #B6D6F2;
$linkRed: #E83338;
$base-font-size: 12px;
$header-font-size: 25px;
$base-padding: 15px;
$font-fam: 'Open Sans', sans-serif;

html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
  &:focus{
    text-decoration: none;
    color: black;
  }
  &:visited{
    text-decoration: none;
    color: black;
  }
}

@import "navBar";